/* ----------- Media Queries ----------- */
$phone: (min-width: 20em);
$phone-wide: (min-width: 30.0625em);
$tablet: (min-width: 40.0625em);
$tablet-wide: (min-width: 60.0626em);
$laptop: (min-width: 64.0625em);
$desktop: (min-width: 80.0625em);

/* ----------- Site settings ------------ */
$font: 400 100% / 1.5 'Open Sans', sans-serif;
$font-bold: 700 100% / 1.25 'Open Sans', sans-serif;
